.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 12.5rem 1fr;
  grid-template-areas:
    "header header"
    "left right";
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  background: url("/img/icon.png") no-repeat/content;
}

main {
  grid-area: right;
  display: flex;
  align-items: center;
}

main .content {
  width: min(36.3rem 100%);
}

main h2 {
  font-family: "Poppins", sans-serif;
  color: var(--blueDark);
  font-size: clamp(20px, 5vw, 2.8rem);
  margin-bottom: 2.4rem;
}

input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

input {
  border: 0.2rem solid ver(--blueDark);
  padding: 0 1.6rem;
}

button,
.button {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 0;
  display: flex;
  align-items: center;
  background: var(--orange);
  cursor: pointer;
}
